body{
    background-color: lightpink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/background-cat-left.png"), url("../images/background-cat-right.png");
    background-position: top left, top right;
    background-size: 25%;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
}

.box{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.crafting-tier{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting-items{
    margin: 4px;
}

.crafting-recipe-image{
    width: 64px;
}

.crafting-items-top{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting-items span{
    border: solid 1px purple;
    float: right;
    width: fit-content;
    height: fit-content
}

.inline-paragraph{
    margin: 0 0 0 0;
}

.arrow{
    width: 32px;
    height: 32px;
}