body{
    background-color: lightpink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/background-cat-left.png"), url("../images/background-cat-right.png");
    background-position: top left, top right;
    background-size: 25%;
    background-repeat: no-repeat;
}

p{
    margin-top: 4px;
    margin-bottom: 4px;
}

h1{
    text-align: center;
}

.crafting-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
}

.crafting-tier{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crafting-tier h2{
    text-align: center;
    margin: 0px;
}

.crafting-items-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting-items{
    width: 100%;
}

.raw{
    background-image: linear-gradient(to bottom, #ffffff, #aaaaaa);
}

.common{
    background-image: linear-gradient(to bottom, #2de3f5, #169ed1);
}

.rare{
    background-image: linear-gradient(to bottom, #f55d69, #cb2347);
}

.epic{
    background-image: linear-gradient(to bottom, #dd7cdb, #a859b4);
}

.legendary{
    background-image: linear-gradient(to bottom, #81e3da, #7d2ba6);
}

.fit-content{
    width: fit-content;
}

.crafting-recipe-image{
    width: 64px;
}

.crafting-items-top{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting-items-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.crafting-items-text{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.arrow-container{
    text-align: center;
}

.arrow{
    width: 32px;
    height: 32px;
}

.crafting-items span{
    float: right;
    width: fit-content;
    height: fit-content;
}

.inline-paragraph{
    display: inline-flex;
}

/* CSS for output of the calculations */

.output-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
    margin: auto;
}

.output-content-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.output-content-text{
    width: 128px;
}

.output-content{
    display: flex;
    justify-content: center;
}

.output-content img{
    width: 64px;
}