/* CSS for cookie policy banner */
.cookie-paragraph{
    margin: 0 0 0 0;
    top: 0px;
    bottom: 0px;
    margin: auto;
}

.cookie-policy{
    display: none;
    flex-direction: wrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 70vw;
    border: solid 2px darkgray;
    padding: 4px;
}

.cookie-policy-close{
    color: #ffffff;
    background-image: linear-gradient(to bottom, #2de3f5, #169ed1);
    border: none;
    text-align: center;
    max-height: 70%;
    top: 0px;
    bottom: 0px;
    margin: auto;
    padding: 8px;
}

.cookie-policy-close:hover{
    color: #000000;
    cursor: pointer;
}

body{
    background-color: #74270c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

/* CSS for Main Menu */
.topnav{
    float: left;
    text-decoration: none;
    overflow: none;
    width: 100vw;
    max-width: 100%;
    border-bottom: solid 2px black;
    font-size: 2em;
}

.topnav a{
    color: #ffffff;
}

.topnav .hamburger-menu {
    display: none;
}

p{
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-center{
    text-align: center;
}

.guide-container{
    display: flex;
    justify-content: center;
}

/* Crafting item CSS */
.crafting-container{
    display: block;
    width: 100vw;
    max-width: 100%;
    overflow: visible;
    border: solid 1px red;
    text-align: center;
}

.crafting-tier{
    display: flex;
    flex-direction: row;
    border: solid 1px blue;
}

.crafting-item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33vw;
    border: solid 1px green;
}

/* Background for the different crafting tiers */
.raw{
    background-image: linear-gradient(to bottom, #b5b0a1, #66635c);
}

.common{
    background-image: linear-gradient(to bottom, #2de3f5, #169ed1);
}

.rare{
    background-image: linear-gradient(to bottom, #f55d69, #cb2347);
}

.epic{
    background-image: linear-gradient(to bottom, #dd7cdb, #a859b4);
}

.legendary{
    background-image: linear-gradient(to bottom, #81e3da, #7d2ba6);
}

/* about.html */
.about-article{
    margin: 0 auto;
    width: 50%;
}

.about-article p{
    display: inline-block;
}

.download{
    margin-top: 20px;
}

.download img{
    text-decoration: none;
}

.download a img{
    max-width: 250px;
}

.app-store-icon{
    height: 97px;
    width: 225px;
}

/* feedback.html */
.feedback{
    text-align: center;
}

/* privacy.html */
.privacy{
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}

.privacy ul li{
    list-style-type: none;
}

/* Removes up/down arrows on 'input type="number"' */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}