body{
    background-color: gray;
}

.box{
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    margin: auto;
    width: fit-content;
}

.crafting-tier{
    display: flex;
    flex-direction: row;
    border: solid 1px blue;
    justify-content: center;
}

.crafting-items{
    border: solid 1px green;
    margin: 16px;
}

.crafting-items-top{
    width: 100%;
    height: fit-content;
    border: solid 1px pink;
}

.crafting-items span{
    border: solid 1px purple;
    float: right;
    margin-right: 16px;
    margin-top: -8px;
}

.arrow{
    width: 32px;
    height: 32px;
}