/* TODO: Temporary just a marker for beta version */
.beta{
    position: absolute;
    font-size: 24px;
    right: 1%;
    color: red;
    z-index: -1000;
}

body{
    background-color: #74270c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("../images/background-cat-left.gif"), url("../images/background-cat-right.gif");
    background-position: top 45px left, top 45px right;
    background-size: 25%;
    background-repeat: no-repeat;
    color: #ffffff;
}

/* Menu */
nav{
    display: flex;
    justify-content: left;
    text-decoration: none;
    text-indent: 1em;
    font-size: 24px;
    border-bottom: solid 2px black;
    width: 100%;
}

ul{
    margin: 0;
    padding: 0;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #74270c;
    margin: 4px;
}

nav ul li:hover{
    background-color: #4bbeff;
}

a{
    color: #ffffff;
}

p{
    margin-top: 4px;
    margin-bottom: 4px;
}

.text-center{
    text-align: center;
}

.guide-container{
    display: flex;
    justify-content: center;
}

/* Crafting item CSS */
.crafting-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    max-width: 100%;
}

.crafting-tier{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.crafting-tier h2{
    text-align: center;
    margin: 0px;
}

.crafting-items-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.crafting-items{
    max-width: 33.33%;
    margin-right: 1px;
}

.crafting-item-title{
    font-size: 24px;
    text-align: center;
}

.crafting-items-top{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 4px;
}

.crafting-recipe-image{
    padding: 4px;
    min-height: 128px;
}

.crafting-items-amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.crafting-items-text{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 8px;
    font-size: 24px;
}

.crafting-item-amount{
    margin-right: 32px;
    font-size: 24px;
}

.crafting-items-info{
    width: 32px;
    height: 32px;
}

.crafting-items-image{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.arrow{
    width: 48px;
    height: 48px;
}

/* Background for the different crafting tiers */
.raw{
    background-image: linear-gradient(to bottom, #b5b0a1, #66635c);
}

.common{
    background-image: linear-gradient(to bottom, #2de3f5, #169ed1);
}

.rare{
    background-image: linear-gradient(to bottom, #f55d69, #cb2347);
}

.epic{
    background-image: linear-gradient(to bottom, #dd7cdb, #a859b4);
}

.legendary{
    background-image: linear-gradient(to bottom, #81e3da, #7d2ba6);
}

/* CSS for the Ruin Crafting: Artifact*/
.fit-content{
    width: fit-content;
    max-width: 40%;
}

.inline-paragraph{
    margin: 0 0 0 0;
    text-align: center;
    font-size: 24px;
}

/* CSS for the calculator container */
.calculator-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.calculator-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calculator-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calculator-body button{
    margin: 4px;
    height: 32px;
    width: fit-content;
}

.user-time{
    top: 0px;
    bottom: 0px;
    margin: auto 4px auto 4px;
}

.info-icon{
    width: 32px;
    height: 32px;
}

.user-time-input{
    width: 48px;
}

/* CSS for output of the calculations */
.output-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 75%;
}

.output-total{
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.output-container-total{
    display: flex;
    flex-direction: column;
    margin: auto;
}

table{
    margin-left: auto;
    margin-right: auto;
    zoom: 150%;
}

table img{
    height: 32px;
}

th{
    font-size: 24px;
    font-style: bold;
    text-align: center;
}

td{
    text-align: center;
}

tbody tr:nth-child(odd){
    background-color: #169ed1;
}

tbody tr:nth-child(even){
    background-color: #a859b4;
}

/* about.html */
.about-article{
    margin: 0 auto;
    width: 50%;
}

.about-article p{
    display: inline-block;
}

.download{
    margin-top: 20px;
}

.download img{
    text-decoration: none;
}

.download a img{
    max-width: 250px;
}

.app-store-icon{
    height: 97px;
    width: 225px;
}

/* feedback.html */
.feedback{
    text-align: center;
}