/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .topnav{
        font-size: 2em;
    }

    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.hamburger-menu {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .hamburger-menu {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* SUPER SMALL devices. Mostly for iPhone 5/SE */
@media only screen and (max-width: 340px) {
    .topnav{
        font-size: 1.75em;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .crafting-container{
        width: 90vw;
        max-width: 90%;
    }

    .crafting-time-input{
        width: 25vw;
    }

    .output-table{
        width: 90vw;
        max-width: 90%;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .crafting-container{
        width: 80vw;
        max-width: 80%;
    }

    .crafting-time-input{
        width: 22vw;
    }

    .output-table{
        width: 80vw;
        max-width: 80%;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .crafting-container{
        width: 70vw;
        max-width: 70%;
    }

    .output-table{
        width: 70vw;
        max-width: 70%;
    }
}

/* Wide screens */
@media only screen and (min-width: 1400px) {
    .output-table{
        width: 60vw;
        max-width: 60%;
    }
}