@media all and (max-width: 1400px) {
    .crafting-container{
        zoom: 150%;
        min-width: 75%
    }

    .calculator-container{
        zoom: 200%;
    }

    .output-container{
        max-width: 100%;
    }

    table{
        min-width: 100%;
        font-size: 22px;
    }

    .fit-content{
        max-width: 75%;
    }

    .arrow{
        width: 64px;
        height: 64px;
    }
}

@media all and (min-width: 1000px) {
    .crafting-container{
        zoom: 125%;
    }

    .calculator-container{
        zoom: 150%;
    }
}

@media all and (min-width: 1200px) {
    .crafting-container{
        zoom: 125%;
    }
}