@media all and (max-width: 1400px) {
    .crafting-container{
        min-width: 75%
    }

    .calculator-text, .calculator-body button{
        font-size: 48px;
    }

    .output-container{
        max-width: 100%;
    }

    .fit-content{
        max-width: 75%;
    }

    .arrow{
        width: 64px;
        height: 64px;
    }

    .cookie-policy, .cookie-policy-close{
        font-size: 18px;
    }
}

@media all and (max-width: 1200px) {
    .calculator-text, .calculator-body button{
        font-size: 42px;
    }

    table{
        min-width: 80vw;
    }

    .cookie-policy, .cookie-policy-close{
        font-size: 1em;
    }
}

@media all and (max-width: 1000px) {
    .calculator-text, .calculator-body button{
        font-size: 38px;
    }

    table{
        min-width: 90vw;
    }

    .cookie-policy, .cookie-policy-close{
        font-size: 24px;
    }
}

@media all and (max-width: 800px) {
    nav{
        font-size: 1em;
    }
}